@font-face {
  font-family: 'Hubot Sans';
  src: 
    url('../public/fonts/hubot/Hubot-Sans.woff2') format('woff2 supports variations'),
    url('../public/fonts/hubot/Hubot-Sans.woff2') format('woff2-variations'),
    url('../public/fonts/hubot/Hubot-Sans.woff') format('woff');
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-display: swap;
}
html {   
  --mdc-typography-font-family: "Hubot Sans", Helvetica, sans-serif;
  --mdc-typography-button-font-weight: 700;
  --mdc-typography-button-letter-spacing: 1px;
}
body {
  min-width: 600px;
  margin: 0;
  padding: 0;
  background: #f0f0f0;
}
#app {
  margin: 20px 0;
}
.app-sidebar {
  display: flex;
  flex-flow: column nowrap;
}
.page {
  width: 35rem;
  max-width: 100%;
  margin-inline: auto;
  padding: 16px;
}
.page-title {
  margin-top: 0;
  margin-bottom: 12px;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}
.device {
  margin-block: 8px;
}
.mdc-form-field--align-end > label {font-weight: 700;}
.field {
  display: flex;
  height: 48px;
  align-items: center;
}
.field .title {
  flex-grow: 1;
  font-size: 1rem;
}
.toolbar-logo {
  margin-top: 10px;
  margin-left: 8px;
}
#dialog-settings video {
  max-width: 400px;
}
.video {
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 10rem);
  display: block;
  overflow: visible;
  object-fit: contain;
}
.empty-video-container {
  height: calc(100vh - 10rem);
  aspect-ratio: 4 / 3;
  margin-inline: auto;
}
.video.empty {
  background: #121212;
}
#start .mdc-form-field {
  width: 100%;
}
#self-view {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  min-width: 120px;
  max-width: 250px;
  width: 15vw;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2),
    0 1px 1px 0 rgba(0, 0, 0, .14),
    0 1px 3px 0 rgba(0, 0, 0, .12);
}

@media (max-width: 839px) {
  .app-sidebar {
    flex-flow: row nowrap;
  }
}
.rmwc-tooltip {
  font-family: var(--mdc-typography-font-family);
}